body {
    background: #9f0d0d;
    font-family: Arial;
}
.logo {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.box {
    width: 300px;
    border: 2px solid black;
    height: 80px;
    box-sizing: border-box;
    text-align: center;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: deepskyblue;
    transition: 0.5s;
}
.box-p {
    font-size: 24px;
}
.fnt {
    font-size: 20px;
}
.lupa {
    width: 40px;
    height: 40px;
}
.input {
    margin-top: 28px;
    margin-left: 10px;
}
.img {
    margin-top: 7px
}
.box-pad {
    padding-bottom: 10px
}
.articles {
    width: 400px;
    height: 700px;
    padding-top: 10px;
    box-sizing: border-box;
    text-align: center;
    color: white
}
.main {
    width: 1000px;
    height: 600px;
    background: #ed3434;
    margin-left: 70px;
    padding-top: 30px;
    box-sizing: border-box;
}
.parent {
    display: flex
}
.headline {
    font-size: 28px;
    color: WHITE;
    text-align: center
}
.main-img {
    height: 300px;
    margin-right: 40px;
    box-sizing: border-box
}
.pd-lf {
    padding-left: 10px
}
P {
    COLOR: WHITE;
}
.a-li {
    font-size: 20px
}
.flex {
    display: flex;
}
.kul {
    margin-left: 400px;
}
.text-photo {
   font-size: 26px;
    margin-top: 100px;
    margin-left: 100px;
}
.ml {
    margin-left: 100px;
}
.height {
    height: 1000px;
}
.mb {
    margin-bottom: 30px;
}
.m-top {
    margin-top: 40px;
}
.main-height {
    height: 4510px;
}
.fm-height {
    height: 830px;
}
.text-center {
    text-align: center;
}
.uppercase {
    text-transform: uppercase;
}
.main-height2 {
    height: 2600px;
}
.margin-none {
    margin: 0
}
.main-height3 {
    height: 1750px;
}